<% if flash.any? %>
  <% user_facing_flashes.each do |key, value| %>
    <div>
      <button class="alert alert-dismissable alert-<%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>
<% end %>
